<div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3">
    <form class="form-container" #loginForm="ngForm" (ngSubmit)="LoginDetails(loginForm)" >

        <div class="panel panel-primary">
            <div class="center">
            <h3 class="panel-title"><b>Login</b></h3>
            </div>
        </div>

        <div class="form-group">
           <label id="userIdLabel" for="userId" class="form">User Name  </label>
           <input id="userId" type="text" name="userId" class="form-control" ngModel #name="ngModel" required placeholder=" User name">
           <div *ngIf="name.invalid && (name.dirty || name.touched)" class="">
                <div *ngIf="name.errors?.['required']" class="alert-danger">
                    <span>Name is required</span>
                </div>
            </div>    
        </div>
        <div class="form-group">
           <label id="userPasswordLabel" for="userPassword" class="form">Password  </label>
           <input id="userPassword" type="password" name="userPassword" class="form-control" ngModel #password="ngModel" required placeholder="Password">
           <div *ngIf="password.invalid && (password.dirty || password.touched)" >
                <div *ngIf="password.errors?.['required']" class="alert-danger">
                    Password is required.
                </div>
        </div> 
        </div>

        <div class="form-group">
        <button id="submit" type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Submit</button>
        <button id="reset" type="reset" class="btn btn-danger">Reset</button>
        
        </div>
    </form>
    
    </div>
    </div>
</div>
